<!-- hello! -->
<mat-toolbar color="primary" class="mat-elevation-z4 main-nav">  
    <mat-toolbar-row>
        <span id="navbar-title" class="menu-spacer">
            <a class="nav-link" routerLink="/">Maine App Resources</a>
        </span>
        <span class="menu-item hidden-mobile">
            <a class="nav-link" routerLink="/">Home</a>
        </span>
        <span class="menu-item hidden-mobile">
            <a class="nav-link" routerLink="/resources">Resources</a>
        </span>
        <span class="mobile-only">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/">Home</button>
                <button mat-menu-item routerLink="/resources">Resources</button>
            </mat-menu>
        </span>
    </mat-toolbar-row>
</mat-toolbar>