#resources-container {
    margin-top: 54px;
    min-height: 70vh;
    overflow: hidden;
}

table {
    width: 100%; 
}

input {
    box-shadow: none !important;
}

td {
    padding: 0.5em 1em 0.5em 1em !important;
    min-width: 15rem;
}

@media(max-width: 768px) {
    .add-button {
      font-size: .85em;
      padding: 2px 10px 2px 2px;
    }
    mat-icon {
        height: 100%;
    }
}
mat-icon {
    font-size: 1.5em; 
}

.resource-form {
    min-width: 30vw;
    max-width: 50vw;
    width: 100%;
}
  
  .example-full-width {
    width: 100%;
  }
  mat-option {
      font-size: .75rem;
  }