#resources-container {
    margin-top: 54px;
    min-height: 70vh;
    overflow: hidden;
}

table {
    width: 100%; 
}

input {
    box-shadow: none !important;
}

td {
    padding: 0.5em 1em 0.5em 1em !important;
    min-width: 15rem;
}

@media(max-width: 768px) {
    .add-button {
      margin-top: 4px;
      font-size: .75em;
      padding: 1px 10px 1px 2px;
    }
    mat-icon {
        height: 100%;
    }

    #resources-container{ 
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
}
mat-icon {
    font-size: 1.5em; 
}

.resource-form {
    width: 100%;
}
  
.example-full-width {
width: 100%;
}
mat-option {
    font-size: .75rem;
}

.mobile-card {
    background-color: #FCFCFC;
}
.mobile-card>mat-card-title {
    font-size: 1em;
}
.mobile-card>mat-card-subtitle {
    font-size: 0.9em;
}
.mobile-card>mat-card-content {
    font-size: 0.9em;
}